.country-card-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
  .country-card {
    width: 450px;
    height: 450px;
    margin: 20px;
    position: relative;
    perspective: 1000px;
    
    .card-front, .card-back {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      background-color: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(10px);
      border: 1px solid rgba(255, 255, 255, 0.2);
      box-shadow: 0 4px 30px rgba(112, 112, 112, 0.384);
      border-radius: 10px;
      transition: transform 0.6s;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    
    .card-back {
      transform: rotateY(180deg);
      color: white;
      text-align: center;
      position: relative;
      
      .favorite-btn{
        position: absolute;
        right: 15px;
        top: 15px;
        background-color: transparent;
        border: none;
        font-size: 2rem;
        z-index: 2;
        color: rgba(255, 255, 255, 0.541);
        
        &:hover {
          color: hsl(0, 71%, 42%);
          cursor: pointer;
        }
      }
      h2{
        padding-bottom: 20px;
        letter-spacing: 1.5px;
      }
      .desc-container {
        border-radius: 12px;
        box-shadow: 0 2px 8px rgba(214, 214, 214, 0.589);
        margin-top: 10px;
        padding: 10px;
      .desc-cont-inner {
        overflow-y: scroll;
        max-height: 200px;
        max-width: 400px;
        padding: 10px;
      }
      .desc-cont-inner::-webkit-scrollbar{
        width: 5px;
      }
      .desc-cont-inner::-webkit-scrollbar-track{
        background-color: rgba(214, 214, 214, 0.514);
        margin-right: 3px;
        border-radius: 12px;
      }
      .desc-cont-inner::-webkit-scrollbar-thumb{
          background-color: rgba(68, 68, 68, 0.76);
          border-radius: 12px;
      }
      .desc-text {
        font-size: 14px;
        line-height: 1.5;
        color: white;
        text-align: justify;
      }
      }
    }
    
    &:hover .card-front {
      transform: rotateY(180deg);
    }
    
    &:hover .card-back {
      transform: rotateY(0deg);
    }

    .country-card-image {
      width: 100%;
      height: 260px;
      border-radius: 10px 10px 0 0;
      overflow: hidden;
      position: relative;
      
      img {
        padding: 10px;
        margin: 0 auto;
        width: 360px;
        height: 100%;
        object-fit: contain;
        display: block;
      }
      
      .favorite-btn{
        position: absolute;
        right: 5px;
        top: 5px;
        background-color: transparent;
        border: none;
        font-size: 2rem;
        z-index: 2;
        color: rgba(255, 255, 255, 0.541);
        
        &:hover {
          color: hsl(0, 71%, 42%);
          cursor: pointer;
        }
      }
    }

    .country-card-info {
      padding: 20px;
      width: 100%;
      color: white;
      
      h2 {
        text-align: center;
        margin-bottom: 10px;
      }
      
      p{
        margin-top: 8px;
        font-size: 0.9rem;
        line-height: 1.4;
        text-align: left;
      }
    }
  }
}

.active {
  color: red !important;
}