*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body {
    background: linear-gradient(135deg, #121721 0%, #1a2230 100%);
}

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px;
    input[type="text"]{
        width: 300px;
        height: 40px;
        font-size: 20px;
        border-radius: 10px;
        padding: 10px;
        border: none;
        background-color: hsl(215, 20%, 22%);
        color: hsl(0, 0%, 95%);
    }
    input:focus {
        outline: none;
        border: none; 
        box-shadow: 0 0 6px hsl(215, 90%, 65%);
    }
    button {
        border: none;
        background: transparent;
        cursor: pointer;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        &:hover svg {
            color: hsl(215, 70%, 75%);
            transform: scale(1.1);
        }
    }

    button svg {
        color: hsl(215, 30%, 60%);
        font-size: 30px;
        transition: all 0.3s ease;
    }

}
.noresult-message{
    color: hsl(0, 100%, 50%);
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}
.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: transparent;
  border: none;
  font-size: 25px;
  color: hsl(210, 30%, 80%);
  cursor: pointer;
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.2);
  }
}
.favorites-btn {
    position: fixed;
    bottom: 30px;
    left: 30px;
    background-color: transparent;
    border: none;
    font-size: 25px;
    color: hsl(210, 30%, 80%);
    cursor: pointer;
    transition: transform 0.3s;

    &:hover {
        transform: scale(1.2);
    }
}
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 40px;
    color: white;
    button {
        padding: 0.5rem 1rem;
        border: none;
        background-color: #333;
        color: #fff;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover:not(:disabled) {
            background-color: #555;
        }

        &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
    }

    .page-indicator {
        font-weight: 500;
        color: #444;
    }
}